h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 36px;
    color: white;
}

header {
    background-color: black;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

body {
    background: linear-gradient(to left, #3A1C71, #D76D77, #FFAF7B);
}

h2 {

}

nav {
    display: flex;
    justify-content: space-between;
}

a {
    font-family:fantasy;
    font-size: 30px;
    text-align:center ;
    padding: 5px;
    color: black;
    text-decoration: none;
    margin-left: 100px;
    margin-right: 100px;
}

img {
    height: 209px;
    width: 313px;
    margin-left: 100px;
    
}

div {
    display: flex;
    flex-wrap: wrap;
}

footer {
    background: linear-gradient(to left, #F3904F, #3B4371);
    border-radius: 15px;
    border: #2840cc 5px solid;
    padding-top:20px ;
}
